{% extends 'Master/MenuTemplate.html.twig' %}
{% block body %}
    <div class="p-4">
        <p>A continuación puedes configurar las claves secretas de las diferentes cuentas que tengas de stripe para
            permitir que factura script se comunique con él.<br>
            Por seguridad las claves no serán visibles una vez añadidas, solo verás el nombre que hayas puesto para
            identificarla.
        </p>

        <form id="frm_sk" method="post" name="frm_sk" action="SettingParams?action=add" style="display:flex">
            <label for="name" style="flex:1; padding-right:5px">
                Nombre*
                <input type="text" id="name" name="name" class="form-control"/>
            </label>
            <label for="sk" style="flex:2; padding-right: 5px">
                Clave secreta (sk_xxx)*
                <input type="text" id="sk" name="sk" class="form-control"/>
            </label>
            <button style="height: 40px;     align-self: flex-end;    margin-bottom: 7px;" type="submit"
                    class="btn btn-info">Guardar
            </button>
        </form>
        <hr style="margin-bottom: 50px">

        <p>Claves de Stripe dadas de alta ( por seguridad solo se muestra el identificador que le pusiste al
            crearlo):</p>
        {% for sk in fsc.sks_stripe %}
            <li>{{ sk.name }} <a href="{{ asset('SettingParams') }}?action=del&name={{ sk.name }}"
                                 class="fa fa-trash"></a></li>
        {% endfor %}
    </div>
{% endblock %}
